<section class="container centered">
  <div class="about">
    <div class="avatar-box">
      <span class="huge">{</span>
      <img src="{{ .Site.Params.avatar }}" alt="An artist's interpretation of {{ .Site.Params.author }}">
      <span class="huge">}</span>
    </div>


    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
      <li><a href="{{ .url }}"> <img src="{{ .logo }}" alt="{{ .name }}" title="{{ .name }}"></a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div class="intro-content">
    <h3>What I do</h3>
    <p>
      I'm a freelancer specializing in front-end applications built with Vue.js
    </p>
    <p>
		I also have experience with a variety of frontend frameworks, SSR, Node/Express applications and linux devops.
    </p>

	<ul>
		<li>Lean, data driven applications</li>
		<li>Progressive web apps</li>
		<li>Fast development, testing, deploy cycles</li>
		<li>Integration with in house and third party APIs</li>
		<li>Customer facing and internal applications</li>
		<li>Industry-specific content authoring applications</li>
	</ul>
	<h3>
		Skills
	</h3>
	<ul>
		<li>Extensive knowledge of best practices in HTML/CSS/JS</li>
		<li>Ability to adjust to in-house coding styles and practices</li>
		<li>Highly productive</li>
		<li>I work great with internal teams</li>
		<li>Tireless troubleshooter</li>
	</ul>
    <p>
      I'm always looking for a new challenge. Please check out my <a href="/projects">projects page</a> to see some of the projects I've worked on and read the recommendations on my <a href="https://www.linkedin.com/in/jeremy-poole-10041a10a/" target="_blank" rel="noopener">LinkedIn profile</a>.
    </p>
    <p>
      If you think I might be a good fit for remote or local work in the Vancouver, BC area, please <a id="email" title="contact me" href="#">contact me</a>.
    </p>
  </div>
</section>

<section class="contact-form container">
  <div class="contact-wrapper">
    <h3>Contact me</h3>
    <form id="contact-form-element" action="/send" method="post">
      <input type="text" id="name" name="name" placeholder="name" maxlength="90" required>
      <input type="email" id="email" name="email" placeholder="email" maxlength="90" required>
      <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="phone" maxlength="10" value="0000000000" aria-hidden="true" required>
      <textarea id="text" name="text" rows="8" maxlength="400" placeholder="message" required></textarea>
      <span id="contact-form-status"></span>
      <button type="submit" id="submit" name="submit" disabled="true">Submit</button>
    </form>
  </div>
</section>

<style>
  .contact-wrapper {
    /* border: 1px solid #999; */
    border-radius: 3px;
    max-width: 65rem;
    margin: 0 auto;
  }
  .contact-wrapper h3 {
    text-align: center;
  }
  #contact-form-element {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 60rem;
    padding: 8%;
    padding-top: 2%;
  }
  #contact-form-element input, #contact-form-element textarea, #contact-form-element button {
    margin: 0.5rem 0;
    border-radius: 3px;
    line-height: 1.1em;
    font-size: 1.1em;
    border: 1px solid #999;
    font-family: 'montserrat';
    z-index: 97;
  }
  #contact-form-element button {
    line-height: 3rem;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
    
  }
  #contact-form-status {
    text-align: center;
  }
  form#contact-form-element input#phone {
    position: absolute;
    opacity: 0;
    z-index: 0;
  }
</style>

<script>
  (function() {
	window.setTimeout(function() {
		var form = document.getElementById('contact-form-element');
		
		if (form) {
		  form.elements.phone.disabled = true;
		  var statusSpan = document.getElementById('contact-form-status');

		  form.elements.submit.disabled = false;

		  var validatePhone = function(dataObj, phoneNumberStr) {
			if (phoneNumberStr==="0000000000") { return };
			dataObj.phone = phoneNumberStr;
		  }

		  form.addEventListener('submit', function(e) {

			e.preventDefault();
			var data = {
			  name: e.target.elements.name.value,
			  email:e.target.elements.email.value,
			  text: e.target.elements.text.value
			};

			validatePhone(data, e.target.elements.phone.value);

			var req = new XMLHttpRequest();
			var url ="https://jeremypoole.ca/api/send";

			req.onreadystatechange = function() {
			  if (req.readyState === 4) {
				switch (req.status) {
				  case 200:
					statusSpan.innerText = "Message sent. Thanks!";
					break;
				  case 403:
					statusSpan.innerText = "Terribly sorry, your message was flagged as spam.";
					break;
				  case 429:
					const mins = Math.round((parseInt(req.getResponseHeader('X-RateLimit-Reset')) - (Date.now()/1000))/60 );
					statusSpan.innerText = "Sorry, too many messages from this IP. Try again in " + mins + " minutes.";
					break;
				  case 500:
					statusSpan.innerText = "Internal Server Error. Please try again later.";
					break;
				  default:
					statusSpan.innerText = "Error: Try again later or contact site operator.";
					break;
				}
				form.reset();
			  }
			}
			req.open("POST", url, true);
			req.setRequestHeader('Content-Type', 'application/json');
			req.send(JSON.stringify(data));
		  })
		}

	}, 7500) // I defy a non-bot to hit the contact form in less than 8 seconds

  })();
</script>
