<section class="container centered">
  <div class="about">
    <div class="avatar-box">
      <span class="huge">{</span>
      <img src="{{ .Site.Params.avatar }}" alt="An artist's interpretation of {{ .Site.Params.author }}">
      <span class="huge">}</span>
    </div>


    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
      <li><a href="{{ .url }}"> <img src="{{ .logo }}" alt="{{ .name }}" title="{{ .name }}"></a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div class="intro-content">
    <h3>Who?</h3>
    <p>
      I'm a full-stack web developer. These days I primarily work with TypeScript and Go. I've worked at <a href="https://www.maxmind.com" rel="noopener noreferrer" target="_blank">MaxMind</a> since 2022<a href="#disclaimer">*.</a>
    </p>

  </div>
</section>

<section class="contact-form container">
  <div class="contact-wrapper">
    <h3>Contact me</h3>
    <form id="contact-form-element" action="/send" method="post">
      <input type="text" id="name" name="name" placeholder="name" maxlength="90" required>
      <input type="email" id="email" name="email" placeholder="email" maxlength="90" required>
      <textarea id="text" name="text" rows="8" maxlength="1024" placeholder="message" required></textarea>
      <span id="contact-form-status"></span>
      <button type="submit" id="submit" name="submit" disabled="true">Submit</button>
    </form>
  </div>
</section>

<style>
  .contact-wrapper {
    /* border: 1px solid #999; */
    border-radius: 3px;
    max-width: 65rem;
    margin: 0 auto;
  }
  .contact-wrapper h3 {
    text-align: center;
  }
  #contact-form-element {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 60rem;
    padding: 8%;
    padding-top: 2%;
  }
  #contact-form-element input, #contact-form-element textarea, #contact-form-element button {
    margin: 0.5rem 0;
    border-radius: 3px;
    line-height: 1.1em;
    font-size: 1.1em;
    border: 1px solid #999;
    font-family: 'montserrat';
    z-index: 97;
  }
  #contact-form-element button {
    line-height: 3rem;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
  }
  #contact-form-status {
    text-align: center;
  }
  p#disclaimer {
    margin-top: 36px;
  }
</style>

<script>
  (function() {
	  window.contactApiUrl = 'https://jeremypoole.ca/always/yes';
		var form = document.getElementById('contact-form-element');
		
		if (form) {
		  var statusSpan = document.getElementById('contact-form-status');

		  form.elements.submit.disabled = false;

          window.setTimeout(function() { window.contactApiUrl = 'https://jeremypoole.ca/api/send' }, 7750);
		  form.addEventListener('submit', function(e) {

			e.preventDefault();
			var data = {
			  name: e.target.elements.name.value,
			  email:e.target.elements.email.value,
			  text: e.target.elements.text.value
			};

			var req = new XMLHttpRequest();

			req.onreadystatechange = function() {
			  if (req.readyState === 4) {
				switch (req.status) {
				  case 200:
					statusSpan.innerText = "Message sent. Thanks!";
					break;
				  case 403:
					statusSpan.innerText = "Terribly sorry, your message was flagged as spam.";
					break;
				  case 429:
					const mins = Math.round((parseInt(req.getResponseHeader('X-RateLimit-Reset')) - (Date.now()/1000))/60 );
					statusSpan.innerText = "Sorry, too many messages from this IP. Try again in " + mins + " minutes.";
					break;
				  case 500:
					statusSpan.innerText = "Internal Server Error. Please try again later.";
					break;
				  default:
					statusSpan.innerText = "Error: Try again later or contact site operator.";
					break;
				}
				form.reset();
			  }
			}
			req.open("POST", window.contactApiUrl, true);
			req.setRequestHeader('Content-Type', 'application/json');
			req.send(JSON.stringify(data));
		  })
		}

  })();
</script>
